.header{
    background-image: url(../img/pattern.png);
    background-size: 150px;
    background-color: #4da2ff;
    height: 100px;
}

#logo{
    width: 210px;
    margin-top: 50px;
}

#title{
    font-weight: 800;
    margin-bottom: 0px;
}

.color-light-grey{
    color: lightgrey;
}

.font-size-small{
    font-size: small;
}

.margin-zero{
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-marker{
    background-color: yellow;
}

.color-blue{
    background-color: royalblue;
}

.color-light-blue{
    background-color: skyblue;
}

.font-weight-700{
    font-weight: 700;
}

.footer-img-1{
    background-image: url(../img/graph.jpg);
}

.footer-img-2{
    background-image: url(../img/monitor.jpg);
}

.footer-img-size{
    width: 300px;
    height: 200px;
}