.header{
    background-image: url(../img/pattern.png);
    background-size: 150px;
    background-color: #4da2ff;
    height: 100px;
}

#logo{
    width: 210px;
    margin-top: 50px;
}

#title{
    font-weight: 800;
    margin-bottom: 0px;
}

.color-lightgrey{
    color: lightgrey;
}

.font-size-small{
    font-size: small;
}

.margin-zero{
    margin-top: 0px;
    margin-bottom: 0px;
}